<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>区域标注</title>
    <link rel="stylesheet" href="../../css/markLabel.css">
    <link rel="stylesheet" href="../../css/button.css">
</head>

<body  bgcolor=#F0F0F0>
<div id="markLabelContainer" class="parent">
    <header class="top">
        <nav>
            <ul id="UI">
                <li class="LI"><a class="active" href="#">区域标注</a></li>
                <li class="LI"><a href="../mainPage/MainPage.html">返回</a></li>
                <li class="headerUsername"><a href="#">用户：{{username}}</a></li>
            </ul>
        </nav>
    </header>

    <section class="left">
        <div class="btn-group">
            <template v-if="isUserCanLabel">
                <button v-on:click="resetCurrentLabel">重置</button>
                <button v-on:click="saveLabelList">保存</button>
            </template>

            <button v-on:click="previousLabel">前一张</button>
            <button v-on:click="nextLabel">后一张</button>

            <template v-if="isUserCanLabel">
                <button v-on:click="setTaskAccomplished" v-if="currentLabelIndex == (taskImageNum-1)">提交</button>
            </template>
            <!--<button v-on:click="previousLabel" class="button button-3d button-action button-circle button-jumbo">-></button>-->
            <!--<br>-->
            <!--<button v-on:click="nextLabel" class="button button-3d button-action button-circle button-jumbo"><-</button>-->
        </div>
    </section>

    <section class="center">
        <div id="canvasContainer">
            <canvas id="drawingCanvas" ref="canvas"
                    v-on:mousedown="startDrawing"
                    v-on:mouseup="stopDrawing"
                    v-on:mouseout="stopDrawing"
                    v-on:mousemove="draw"
                    v-bind:style="{backgroundImage: currentImageUrl}"
            ></canvas>
        </div>
    </section>

    <section class="right">
        <div id="toolBar" v-if="isUserCanLabel">
            <p>填写标签：
                <input type="text" id="tagInput" placeholder="请输入标签" ref="inputTag">
                <button class="buttonGrey" v-on:click="addTag">添加标签</button>
            </p>
        </div>
        <div>
            <p>当前图片：{{currentLabelIndex+1}}     总图片数：{{taskImageNum}}</p>
            <table id="tagTable">
                <tr>
                    <th>标签序号</th>
                    <th>标签内容</th>
                    <th v-if="isUserCanLabel">操作</th>
                </tr>
                <tr v-for="(area,index) in currentLabel">
                    <td>{{index+1}}</td>
                    <td>{{area.tag}}</td>
                    <td v-if="isUserCanLabel"><button v-on:click="removeTag(index)">删除</button></td>
                </tr>
            </table>
        </div>
    </section>

    <!--<section class="bottom">-->
    <!--</section>-->
</div>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/pageJump.js"></script>
<script src="../../js/markLabel/markAreaLabel.js"></script>
</body>
</html>