ul.accordionTaskList {
    list-style: none;
    max-width: 600px;
    margin: 30px auto 20px;
    background: #FFF;
    border-radius: 4px;
}

ul.accordionTaskList .link {
    cursor: pointer;
    display: block;
    /*float: left;*/
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
}

ul.accordionTaskList .subMenuOfTaskList {
    list-style: none;
    /*background: #444359;*/
    font-size: 14px;
}

.subMenuOfTaskListInactive{
    display: none;
}