<html class="no-js" lang="en" class="no-js" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8">
	  <link rel="stylesheet" href="../../css/lu.css">
		<link rel="stylesheet" href="../../css/requestor/assignTask.css">
		<link rel="stylesheet" href="../../css/table.css">
        <link rel="stylesheet" href="../../css/font.css">
      <title>发布且完成任务页面</title>
      
</head>
 
<!-- 任务表  
任务详情 -->
	<body>
	<div id="home" class="header-wrapper header-top">
		<header>
			<ul class="menu cf">
				<li>
					<a>发布与编辑</a>
					<ul class="submenu">
						<li><a href="../requestor/submitTaskDraft.html">编辑任务</a></li>
						<li><a href="../requestor/submitMassTaskDraft.html">编辑大任务</a></li>
						<li><a href="../requestor/assignTask.html">发布任务</a></li>
					</ul>
				</li>

				<li>
					<a>任务信息</a>
					<ul class="submenu">
						<li><a href="../requestor/finishedTasksPage.html">历史记录</a></li>
						<li><a href="../requestor/unfinishedTasksPage.html">当前任务</a></li>
					</ul>
				</li>
				<li>
					<a>审核提交</a>
					<ul class="submenu">
						<li><a href="../requestor/checkSubmittedLabel.html">审核</a></li>
					</ul>
				</li>

				<li>
					<a>用户中心</a>
					<ul class="submenu">
						<li><a href="../login/login.html">登出</a></li>
						<li><a href="../requestor/messagePage.html">消息</a></li>
						<li><a href="../requestor/personPage.html">个人主页</a></li>
					</ul>
				</li>
				<li class="headerUsername"><a href="#">用户：{{username}}</a></li>

			</ul>
		</header>
	</div>

<div align ="center" id="taskInfoContainer">
	<p class="testfont">发布且完成的任务</p>
	<table border="1" id="TaskTable">
		<tr>
			<th>任务编号</th>
			<th>标注类型</th>
			<th>完成人数</th>
			<th>积分奖励</th>
			<th>详情</th>
		</tr>
		<!-- incompleted -->
		<tr v-for="(item, index) in AllFinishedTasks">
			<th>{{item.taskId}}</th>
			<th>{{getChineseLabelType(item.labelType)}}</th>
			<th>{{item.finishedWorkerNum}}</th>
			<th>{{item.taskPrice}}</th>
			<!-- 查看任务完成情况 incompleted -->
			<th><button v-on:click="check(index)">查看</button></th>
		</tr>
	</table>


	<p class="testfont">任务详情</p>
	<table border="1">
		<tr>
			<th>工人昵称</th>
			<th>系统评价</th>
			<th>状态</th>
			<th>获得积分</th>
		</tr>

		<tr v-for="(item, index) in ParticipatorsInfo">
			<th>{{item.username}}</th>
			<th>{{item.labelScore}}</th>
			<th>{{item.acceptedTaskState}}</th>
			<th>{{item.taskPrice}}</th>
		</tr>
	</table>

</div>








  	</body>

<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/pageJump.js"></script>
<script src="../../js/requestor/finishedTasksPage.js"></script>


</html>