<html class="no-js" lang="en" class="no-js" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8">
      <title>发布者个人主页</title>
    <link rel="stylesheet" href="../../css/input.css">
    <link rel="stylesheet" href="../../css/lu.css">
    <link rel="stylesheet" href="../../css/requestor/assignTask.css">
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
</head>

<body>
<<div id="home" class="header-wrapper header-top">
    <header>
        <ul class="menu cf">
            <li>
                <a>发布与编辑</a>
                <ul class="submenu">
                    <li><a href="../requestor/submitTaskDraft.html">编辑任务</a></li>
                    <li><a href="../requestor/submitMassTaskDraft.html">编辑大任务</a></li>
                    <li><a href="../requestor/assignTask.html">发布任务</a></li>
                </ul>
            </li>

            <li>
                <a>任务信息</a>
                <ul class="submenu">
                    <li><a href="../requestor/finishedTasksPage.html">历史记录</a></li>
                    <li><a href="../requestor/unfinishedTasksPage.html">当前任务</a></li>
                </ul>
            </li>
            <li>
                <a>审核提交</a>
                <ul class="submenu">
                    <li><a href="../requestor/checkSubmittedLabel.html">审核</a></li>
                </ul>
            </li>

            <li>
                <a>用户中心</a>
                <ul class="submenu">
                    <li><a href="../login/login.html">登出</a></li>
                    <li><a href="../requestor/messagePage.html">消息</a></li>
                    <li><a href="../requestor/personPage.html">个人主页</a></li>
                </ul>
            </li>
            <li class="headerUsername"><a href="#">用户：{{username}}</a></li>

        </ul>
    </header>
</div>
<hr>

  <div id="requestorInfo">
        <div id="fix">

            <span>名称:</span>
            <input type="text" class="input_short" id="user_name" name="tag" value="" disabled="disabled" v-model="username">

          <br>
          <span>声望:</span>
          <input type="text" class="input_short" id="prestige" name="tag" value="" disabled="disabled" v-model="prestige">
          <br>
          <span>金额:</span>
          <input type="text" class="input_short" id="cash" name="tag" value="" disabled="disabled" v-model="cash">
            <br>
            <span>最大发布数</span>
            <input type="text" class="input_short" id="maxPublishedTaskNum" name="tag" value="" disabled="disabled" v-model="maxPublishedTaskNum">
        </div>


        <div id="editable" >
           <span>电子邮箱:</span>
          <input type="text"  id="email" name="tag" value="" v-model="email">
          <input type="button" id="changeEmail" value="edit" v-on:click="editEmail"></input>
            <br>
           <span>电话号码:</span>
          <input type="text" id="phone" name="tag" value="" v-model="phone">
          <input type="button" id="changePhone" value="edit" v-on:click="editPhone"></input>
        </div>



        <hr/>
        <p>可接受任务数量</p>
        <div id="container" style="height: 30%"></div>

        <hr/>
        <p>未完成工作分布</p>
        <div id="TaskType" style="height: 30%"></div>

        <hr/>
        <p>已完成工作分布</p>
        <div id="FinishedLayout" style="height: 30%"></div>

        <hr/>

      <label>金额</label>
      <input type="text" v-model="chargeCash" id="chargeNum">
        <button  v-on:click="charge">充值</button>
  </div>
  </body>

<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/pageJump.js"></script>
<script src="../../js/requestor/personPage.js"></script>
</html>