<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>大规模任务编辑页面</title>

    <link rel="stylesheet" href="../../css/lu.css">
    <link rel="stylesheet" href="../../css/requestor/submitTaskDraft.css">
</head>
<body>
<div id="home" class="header-wrapper header-top">
    <header>
        <ul class="menu cf">
            <li>
                <a>发布与编辑</a>
                <ul class="submenu">
                    <li><a href="../requestor/submitTaskDraft.html">编辑任务</a></li>
                    <li><a href="../requestor/submitMassTaskDraft.html">编辑大任务</a></li>
                    <li><a href="../requestor/assignTask.html">发布任务</a></li>
                </ul>
            </li>

            <li>
                <a>任务信息</a>
                <ul class="submenu">
                    <li><a href="../requestor/finishedTasksPage.html">历史记录</a></li>
                    <li><a href="../requestor/unfinishedTasksPage.html">当前任务</a></li>
                </ul>
            </li>
            <li>
                <a>审核提交</a>
                <ul class="submenu">
                    <li><a href="../requestor/checkSubmittedLabel.html">审核</a></li>
                </ul>
            </li>

            <li>
                <a>用户中心</a>
                <ul class="submenu">
                    <li><a href="../login/login.html">登出</a></li>
                    <li><a href="../requestor/messagePage.html">消息</a></li>
                    <li><a href="../requestor/personPage.html">个人主页</a></li>
                </ul>
            </li>
            <li class="headerUsername"><a href="#">用户：{{username}}</a></li>

        </ul>
    </header>
</div>
<div align="center">

    <section id="inputTaskInfo">
        <div>
            <label>
                标注类型:
                <select v-model="selectedLabelType">
                    <option v-for="(item,index) in labelTypeList" v-bind:value="item.labelType"
                    >{{item.labelTypeName}}</option>
                </select>
            </label>
        </div>

        <div>
            <label>
                方案选择：
                <select v-model="selectedMechanismType">
                    <option v-for="(item,index) in pricingMechanismList" v-bind:value="item.mechanismType">
                    {{item.mechanismName}}
                    </option>
                </select>
            </label>
        </div>

        <div>
            <label>
                任务编号:
                <input type="text" disabled="disabled" v-bind:value="taskId">
            </label>
        </div>

        <div>
            <label>
                标注类型:
                <select v-model="selectedTaskType">
                    <option v-for="(item,index) in taskTypeList" v-bind:value="item.taskType"
                    >{{item.taskTypeName}}</option>
                </select>
            </label>
        </div>

        <div>
            <label>
                任务描述:
                <textarea type="text" v-model="taskDescription"></textarea>
            </label>
        </div>

        <div>
            <label>
                截止日期：
                <input type="date" name="user_date" v-model="endDate">
            </label>
        </div>

        <div>
            <label>
                预算:
                <input type="text" v-model="budget">
            </label>

            <label v-if="selectedMechanismType == 'MINIMIZE_PAYMENTS'">
                期望的图片单价：
                <input type="text" v-model="givenUnitPrice">
            </label>
        </div>


        <div class="upload">
            <div class="upload_warp">
                <div class="upload_warp_left" @click="fileClick">
                    <img src="../../images/uploadTask/upload.png">
                </div>
                <div class="upload_warp_right" @drop="drop($event)" @dragenter="dragenter($event)" @dragover="dragover($event)">
                    或者将文件拖到此处
                </div>
            </div>
            <div class="upload_warp_text">
                选中{{imgList.length}}张文件，共{{bytesToSize(this.size)}}
                <button class="uploadSectionButton" v-on:click="submitTaskDraft">保存为草稿</button>
            </div>
            <input @change="fileChange($event)" type="file" id="upload_file" multiple style="display: none" accept="image/*"/>
            <div class="upload_warp_img" v-show="imgList.length!=0">
                <div class="upload_warp_img_div" v-for="(item,index) of imgList">
                    <div class="upload_warp_img_div_top">
                        <div class="upload_warp_img_div_text">
                            {{item.name}}
                        </div>
                        <img src="../../images/uploadTask/del.png" class="upload_warp_img_div_del" @click="fileDel(index)">
                    </div>
                    <img :src="item.src">
                </div>
            </div>
        </div>
    </section>
</div>

</body>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/pageJump.js"></script>
<script src="../../js/requestor/submitMassTaskDraft.js"></script>
</html>