<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>发布任务</title>

	<link rel="stylesheet" href="../../css/requestor/uploadTask.css">
	<link rel="stylesheet" href="../../css/lu.css">
</head>

<body background="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1525411947690&di=35f7f875aa24e74e35d8ae5f5048ecb5&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150113%2F258910-150113193J221.jpg">
<div id="home" class="header-wrapper header-top">
	<header>
		<ul class="menu cf">
			<li>
				<a>众包发起人</a>
				<ul class="submenu">
					<li><a href="uploadTask.html">发布页面</a></li>
					<li><a href="../requestor/CheckMyTask.html">查询页面</a></li>
				</ul>
			</li>

			<li>
				<a>众包工人</a>
				<ul class="submenu">
					<li><a href="../worker/getTask.html">接任务</a></li>
					<li><a href="../worker/doTask.html">做任务</a></li>
					<li><a href="../worker/WorkerCheckTask.html">查询界面(个人主页)</a></li>
				</ul>
			</li>

			<li>
				<a>用  户</a>
				<ul class="submenu">
					<li><a href="../login/Login_in.html">登出</a></li>
					<li><a href="../worker/WorkerCheckTask.html">个人主页</a></li>
				</ul>
			</li>
		</ul>
	</header>
</div>

<br>
<br>
<br>


<div align="center">
<section id="inputTaskInfo">
	<div>
		<label>
			标注类型:
			<select v-model="selectedLabelType">
				<option v-for="(item,index) in labelTypeList" v-bind:value="item.labelType"
				>{{item.labelTypeName}}</option>
			</select>
		</label>
	</div>

	<div>
		<label>
			任务编号:
			<input type="text" disabled="disabled" v-bind:value="taskId">
		</label>
        <!--<p>taskId: {{taskId}}</p>-->
	</div>

	<div>
		<label>
			批注人数:
			<input type="text" v-model="requiredWorkerNum">
		</label>
        <!--<p>requiredWorkerNum: {{requiredWorkerNum}}</p>-->
	</div>

	<div>
		<label>
			任务描述:
			<textarea type="text" v-model="taskDescription"></textarea>
		</label>
        <!--<p>taskDescription: {{taskDescription}}</p>-->
	</div>

	<div>
		<label>
			积分奖励:
			<input type="text" v-model="score">
		</label>
		<!--<p>score: {{score}}</p>-->
	</div>

    <div class="upload">
        <div class="upload_warp">
            <div class="upload_warp_left" @click="fileClick">
                <img src="../../images/uploadTask/upload.png">
            </div>
            <div class="upload_warp_right" @drop="drop($event)" @dragenter="dragenter($event)" @dragover="dragover($event)">
                或者将文件拖到此处
            </div>
        </div>
        <div class="upload_warp_text">
			选中{{imgList.length}}张文件，共{{bytesToSize(this.size)}}
			<button class="uploadSectionButton" v-on:click="uploadImage">提交</button>
        </div>
        <input @change="fileChange($event)" type="file" id="upload_file" multiple style="display: none" accept="image/*"/>
        <div class="upload_warp_img" v-show="imgList.length!=0">
            <div class="upload_warp_img_div" v-for="(item,index) of imgList">
                <div class="upload_warp_img_div_top">
                    <div class="upload_warp_img_div_text">
                        {{item.name}}
                    </div>
                    <img src="../../images/uploadTask/del.png" class="upload_warp_img_div_del" @click="fileDel(index)">
                </div>
                <img :src="item.src">
            </div>
        </div>
    </div>
</section>
</div>>
</body>


<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/pageJump.js"></script>
<script src="../../js/requestor/uploadTask.js"></script>
</html>