body{
    /*height: 100%;*/
    /*overflow: hidden;*/
    background-image: url(../images/markLabelBackground.jpg);
}

div#markLabelContainer{
    background-image: inherit;
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
}


.left{
    position: absolute;
    top: 60px;
    left: 10px;
    /*bottom: 500px;*/
    width: 200px;
    margin: 10px;
    /*overflow:scroll;*/
    background-image: inherit;
}

.center{
    position: absolute;
    top: 50px;
    left: 220px;
    right: 330px;
    /*bottom: 500px;*/
    margin: 10px;
    background-color: white;
    overflow:scroll;
    background-image: inherit;
}

.right{
    position: absolute;
    top: 50px;
    right: 0;
    /*bottom: 500px;*/
    width: 330px;
    margin: 10px;
    background-color: white;
    background-image: inherit;
    /*overflow:scroll;*/
}

.bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
    background-color: white;
    background-image: inherit
}


canvas#drawingCanvas {
    width: 1300px;
    height: 1000px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-repeat: no-repeat;
}

li.tagListItem{
    float: top;
}

ul#tagList li.tagListItem {
    background-color: #999;
    color: #fff;
    border-top: 1px solid #666;
    border-bottom: 1px solid #b0b0b0;
    background-image: url("../images/icon-trash.png");
    background-position: right, center;
    background-repeat: no-repeat;
    text-decoration: none;
}

p.tagInCanvas {
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
}