<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div>
    <div id="registerContainer">
        <h2>注册</h2>

        <div>
            <label for="username">用户名：</label>
            <input type="text" id="username" placeholder="请输入你的用户名" v-model="username" v-on:input="checkUsername">
            <p>username ::= {{username}}</p>
            <template v-if="isUsernameExisted">
                <p>该用户名已存在</p>
            </template>
        </div>

        <div>
            <label for="password">密码：</label>
            <input type="password" id="password" placeholder="请输入你的密码" v-model="password">
            <p>password ::= {{password}}</p>
        </div>

        <div>
            <label for="confirmedPassword">请再次输入密码：</label>
            <input type="password" id="confirmedPassword" placeholder="请再次输入你的密码" v-model="confirmedPassword" v-on:input="checkPassword">
            <p>confirmedPassword ::= {{confirmedPassword}}</p>
            <template v-if="!isPasswordCorrect">
                <p>密码不一致</p>
            </template>
        </div>

        <button v-on:click="register">注册</button>
    </div>

    <a href="../login/index.html">登陆</a>
</div>
</body>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/pageJump.js"></script>
<script src="../../js/register/register.js"></script>
</html>