<html class="no-js" lang="en" class="no-js" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../../css/lu.css">
    <link rel="stylesheet" href="../../css/input.css">
      <title>工人信息页面</title>
</head>


  <body bgcolor="#f0f8ff">
  <div id="home" class="header-wrapper header-top">
      <header>
          <ul class="menu cf">
              <li>
                  <a>查询</a>
                  <ul class="submenu">
                      <li><a href="../worker/workerFinishedTaskPage.html">历史任务</a></li>
                  </ul>
              </li>

              <li>
                  <a>任务</a>
                  <ul class="submenu">
                      <li><a href="../worker/doTask.html">做任务</a></li>
                      <li><a href="../worker/getTask.html">接任务</a></li>
                  </ul>
              </li>


              <li>
                  <a>用户中心</a>
                  <ul class="submenu">
                      <li><a href="../login/Login_in.html">登出</a></li>
                      <li><a href="../worker/workerInfoPage.html">个人主页</a></li>
                  </ul>
              </li>

          </ul>
      </header>
  </div>

  <div id="workerInfo">
      <div id="fix">

          <span>名称:</span>
          <input type="text" class="input_short" id="user_name" name="tag" value="" disabled="disabled" v-model="username">{{username}}

          <br>
          <span>声望:</span>
          <input type="text" class="input_short" id="prestige" name="tag" value="" disabled="disabled" v-model="prestige">{{prestige}}
          <br>
          <span>等级:</span>
          <input type="text" class="input_short" id="user_level" name="tag" value="" disabled="disabled" v-model="userLevel">{{userLevel}}
          <br>
          <span>cash:</span>
          <input type="text" class="input_short" id="cash" name="tag" value="" disabled="disabled" v-model="cash">{{cash}}
          <br>
          <span>任务上限</span>
          <input type="text" class="input_short" id="maxAcceptedTaskNum" name="tag" value="" disabled="disabled" v-model="maxAcceptedTaskNum">{{maxAcceptedTaskNum}}
      </div>


      <div id="editable" >
          <span>电子邮箱:</span>
          <input type="text"  id="email" name="tag" value="" v-model="email">{{email}}
          <input type="button" id="changeEmail" value="edit" v-on:click="editEmail"></input>
          <br>
          <span>电话号码:</span>
          <input type="text" id="phone" name="tag" value="" v-model="phone">{{phone}}
          <input type="button" id="changePhone" value="edit" v-on:click="editPhone"></input>

      </div>



      <hr/>

      <h>任务情况</h>
      <div id="container" style="height: 100%"></div>

      <hr/>
      <h>未完成工作分布</h>
      <div id="TaskType" style="height: 100%"></div>

      <hr/>
      <h>已完成工作分布</h>
      <div id="FinishedLayout" style="height: 100%"></div>

      <hr/>
      <button id="charge" v-on:click="exchange">积分兑换</button>



  </div>


  </body>
<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/lib/jquery-1.11.0.min.js"></script>
<script src="../../js/worker/workerInfoPage.js"></script>


</html>