<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<div>
    <div id="loginContainer">
        <h2>登陆</h2>

        <div>
            <label for="userId">用户ID：</label>
            <input type="text" id="userId" v-model="userId" placeholder="请输入你的用户ID">
            <p>{{userId}}</p>
        </div>

        <div>
            <label for="password">密码：</label>
            <input type="password" id="password" v-model="password" placeholder="请输入密码">
            <p>{{password}}</p>
        </div>

        <button v-on:click="login()">登陆</button>
    </div>
</div>
<a href="../register/index.html">注册</a>

<script src="../../js/lib/vue.js"></script>
<script src="../../js/lib/axios.js"></script>
<script src="../../js/lib/jquery-1.11.0.min.js"></script>
<script src="../../js/login/login.js"></script>
</body>
</html>